*{
    margin: 0;
    padding: 0;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}

header{
    background-image: url(../img/fundo-topo.jpg);
    text-align: center;
    padding: 10px 0;

}

header h1{
    margin: 0;
    height: 80px;
}

nav{
    padding: 15px 0;
    text-align: center;
}

nav li{
    display: inline;
    background-image: url(../img/patinha-preta.png);
    background-repeat: no-repeat;
    background-position: center right;
    padding-right: 30px;
    margin-right: 30px;
}

nav li a{
    color: #000;
    text-decoration: none;
}

nav a:hover{
    color: blueviolet
}

#itemContato{
    background-image: none;
    margin-right: 0;
    padding: 0;
}

.fundo-verde{
    background-color: greenyellow;
}
.container{
    width: 900px;
    margin: 0 auto;
    padding: 5% 0; 
}
.container .col{
    width: 430px;
}
.flex-conteiner{
    display: flex;
    justify-content: space-between;
}

.produto{
    width: 235px;
}
.produto figure{
    border: 1px solid #c4c4c4;
    background-color: #fff;
    margin: 0 0 15px 0;
    text-align: center;
    height: 160px;
    line-height: 160px;
    padding: 0;
}
.produto figure img{
    vertical-align: middle;
}
.texto-centralizado{
    text-align: center;
}
.btn-patinha{
    border: 1px solid #91e467;
    background-color: #d2fbbd;
    padding: 10px 20px;
    display: inline-block;
    text-decoration: none;
    color: black;
    border-radius: 10px;
    cursor: pointer;
}

form{
    width: 380px;
}

form input,
form textarea{
    width: 100%;
    border: 1px solid #6dd432;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 10px;
}

iframe{
    width: 100%;
}

footer{
    text-align: center;
    border-top: 1px solid #6dd432;
    font-size: 12px;
    padding: 15px 0; 
}

#produtos .flex-conteiner, #contatos .flex-conteiner{
    margin-top: 43px;
}